In [1]:
#Import Dependencies 
import pandas as pd
import os
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
#Load Data
heart_csv = "Resources/heart.csv"
heart_df = pd.read_csv(heart_csv)
heart_df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [3]:
target = heart_df["sex"]
target_names = ["0", "1"]

In [4]:
data = heart_df.drop("sex", axis=1)
feature_names = data.columns
data.head()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
X_train, X_test, y_train, y_test = train_test_split(data, target)

In [6]:
#Decision Tree training & Score 
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
print(f"Decision Tree Score: {clf.score(X_test, y_test)}")

Decision Tree Score: 0.7894736842105263

In [7]:
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train, y_train)
print(f"Random Forest Score: {rf.score(X_test, y_test)}")

Random Forest Score: 0.7763157894736842